/*Font-----------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,800');


/*Global----------------------*/
body {
  font-family: monospace;
  width: 100%;
  text-align: center;
}

p {
  /*margin-left: 30px;*/
  margin-bottom: -10px;
  font-size: 20px;
}

button {
  font-size: 1em;
  font-family: monospace;
  background-color: #f8bbd0;
  cursor: pointer;
  border-width: 0em;
  /*border-radius: 0.3em;*/
  padding: .5em;
  border-style: solid;
  color: #fff;
}

/*nav-----------------------*/
.purple {
  background-color: #651fff;
}

.orange {
  background-color: #ff8f00;
}

.green {
  background-color: #4caf50;
}
.custom-nav {
	margin-top: 30px;
}

/*hero==========================*/
#links {
  font-size: 20px;
/*  margin: 30px auto;
  padding: 0 30px;*/
  text-align: right;
}
.space {
  margin: 30px auto;
  padding: 40px;
}

#name {
  width: 950px;
  height: 500px;
  padding-top: 100px;
}
#name p {
	margin-top: 30px;
	text-align: left;
	margin-left: 100px;
	font-size: 1.5em;
}

.logo {
  	display: block;
	text-align: left;
	padding-left: 10%;
}

.letter {
  font-size: 200px;
  line-height: 110px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: -20px;
  mix-blend-mode: color-burn;
  position: relative;
  transition: font-size ease 2s;
  /*transition: letter-spacing ease 2s;*/
  transition-delay: 0.1s;
  opacity: 0.9;
}

.letter:hover {
	font-size: 250px;
	/*letter-spacing: 20px;*/
}

#h, .red{
  color: #ef5350;
}

#a, .purple{
  color: #ab47bc;
}

#n {
  color: #651fff;
}

#d, .blue{
  color: #3949ab;
}

#e, .skyblue {
  color: #2196f3;
}

#r {
  color: #00bcd4;
}

#e2 {
  color: #4caf50;
}

#k, .yello {
  color: #ffc107;
}

#dot {
  color: #ff80ab;
}

/*Devicons---------------*/
.devicon {
	font-size: 5em;
}

/*----------------------------------*/
.title {
	margin: 10px;
	text-align: left;
	padding-left: 30px;
	border-radius: 10px;
	/*background-color: #00bcd4;*/
}

.card {
	width: 300PX;
	height: 400px;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	padding: ;
	border-radius: 1em;
	overflow: scroll;
	/* Add shadows to create the "card" effect */
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 6px 8px 16px 0 rgba(0,0,0,0.8);
}
.card a {
	color: yellow;
}
.portfolio-end {
	margin-top: 30px;
	padding-top: 30px;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
/*	background: url(../img/derek_square.png) no-repeat 50% 50%;*/
	background-size: cover;
	display: table;
	top: 0;

}

.content {
	max-width: 950px;
	margin: auto;
}

/*colums---------------------*/
.left-col {
	width: 60%;
	float: left;
	margin: 4% 0 4% 4%;
}
.sidebar {
	width: 26%;
	float: left;
	margin: 4%;
	position: relative;
	top: 100px;
}
.one-third-port {
	text-align: center;
	width: 29.33333%;
	margin-right: auto;
	margin-left: auto;
	padding: 2%;
	float: left;
}
.one-port {
	text-align: center;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding: 2%;
	float: left;
}


.contact a {
	color: @2C2C2C;
	/*text-decoration: none;*/
}
.contact p {
	color: @2C2C2C;
	text-align: center;
}
.break {
	display: block;
}
.clearfix {
	clear: both;
	height: 30%;
}
.parallax {
	background: url(https://images.unsplash.com/photo-1503980599186-9cc36eda351a?ixlib=rb-0.3.5&s=35504fdb448d53970d30e1365fe5702e&auto=format&fit=crop&w=1350&q=80) repeat fixed 100%;

	opacity: 1;
}
.parallax-inner {
	padding-top: 20%;
}
.social {
	list-style-type: none;
	text-align: center;
}
.social li {
	display: inline;
}
.social img {
	width: 8%;
	margin: 3% auto;
	padding: 2%;
}
.social img:hover {
	/*color: #606060;*/
	opacity: .6;
}
footer.second {
	background-color: #2C2C2C;
}
footer.second p {
	color: #FFF;
	text-align: center;
	padding: 5%;
}
@media screen and (max-width: 768px) {
	.content h1 {
		font-size: 180%;
	}
	p {
		font-size: 120%;
	}
	h2 {
		font-size: 160%;
	}
	.letter {
	  font-size: 100px;
	  line-height: 60px;
	  font-family: 'Lato', sans-serif;
	  font-weight: 800;
	  letter-spacing: -20px;
	  mix-blend-mode: color-burn;
	  position: relative;
	  transition: font-size ease 2s;
	  /*transition: letter-spacing ease 2s;*/
	  transition-delay: 0.1s;
	  opacity: 0.9;
	}

	.letter:hover {
		font-size: 150px;
		/*letter-spacing: 20px;*/
	}

	#name p {
		margin-top: 30px;
		text-align: left;
		margin-left: 10px;
		font-size: 1.5em;
	}

	.left-col{
		width: 96%;
		margin: 0 0 3% 0;
		padding: 0 2%;
	}
	.sidebar {
		width: 96%;
		margin: 0 auto;
	}
	img {
		padding: 2%;
	}
	.one-third-port {
		width: 96%;
		margin: 0 auto;
		padding: 0;
	}
	.break {
		display: block;
	}
	.parallax {
		display: none;
	}
	.social img {
		font-size: 50%;
		position: relative;
		right: 14px;
	}
}






/*background--------------------*/
















